In [1]:
import pandas as pd
import numpy as np

# 한줄표현 --- optional

## 1. for문 한줄 표현식
<pre>
<font color='red'><b>[  처리부  for n in [ 1,2,3 ]  ]</font></b> <br><br>
for n in [1,2,3]:<br>
    처리부

In [19]:
sum = 0
for n in [1,2,3,4]:
    sum= sum + n
print(sum)

10

In [22]:
#frames = [ process_your_file(f) for f in files ]
[ print(n) for n in [1,2,3,4] ]

1
2
3
4

[None, None, None, None]

In [24]:
for dan in [2,3,4]:
    for gob in [1,2,3,4]:
        print(dan,"*",gob)

2 * 1
2 * 2
2 * 3
2 * 4
3 * 1
3 * 2
3 * 3
3 * 4
4 * 1
4 * 2
4 * 3
4 * 4

In [27]:
[ print(dan,"*",gob) for dan in [2,3,4] for gob in [1,2,3,4] ]
#      3                  1                     2

2 * 1
2 * 2
2 * 3
2 * 4
3 * 1
3 * 2
3 * 3
3 * 4
4 * 1
4 * 2
4 * 3
4 * 4

[None, None, None, None, None, None, None, None, None, None, None, None]

## 2. if문 한줄 표현식
<pre>
<font color='red'><b>1. 처리부IF if score < 90 else 처리부ELSE </font></b>

if score < 90 :
    처리부IF
else:
    처리부ELSE
    
<font color='red'><b>2. 처리부if if score < 90 else (처리부elif if score <80  else 처리부else )   </font></b> 

if score < 90 :
    처리부if
elif score < 80 : 
    처리부elif
else:
    처리부else

In [28]:
score = 80
if score < 90 :
    print("작다")
else:
    print("크다")

작다

In [34]:
score = 80
print( "작다" if score < 90 else '크다' )

작다

In [35]:
score = 80
if score < 90 :
    print("B")
elif score < 80 : 
    print("C")
else:
    print("D")

B

In [6]:
score = 80
print( "B" if score < 90 else ("C" if score <80  else "D") )

B

## 3. for + if
<pre>
<font color='red'><b>[ 처리부 for n in [1,2,3] if문 ]

In [7]:
for n in [1,2,3]:
    if n==2 :
        print("이")

이

In [9]:
[print("이") for n in [1,2,3]  if n==2]

이

[None]

## 4. for + if else
<pre>
<font color='red'><b>[덩어리 for n in [1,2,3]  ]</font></b>

덩어리는 아래 문법
    if n==2 :
        print("이")
    else:
        print("그외")

[덩어리                          for n in [1,2,3]  ]
[print("이" if n==2 else "그외") for n in [1,2,3]  ]

In [10]:
for n in [1,2,3]:
    if n==2 :
        print("이")
    else:
        print("그외")

그외
이
그외

In [16]:
[print("이" if n==2 else "그외") for n in [1,2,3]  ]

그외
이
그외

[None, None, None]

# 람다(lamda)

<font color='red'><b>( lamda 파라미터 : 표현식 )</font></b>

- 일회용 함수
- 한줄표현 함수
- unknown named function (이름 없는 함수)

In [17]:
def add(a,b):
    return a+b
add(4,5)

9

In [19]:
aaa= (lambda a,b : a+b )
aaa

In [18]:
(lambda a,b : a+b )(4,5)

9

- 람다 사용 예 -1

In [20]:
def score_check(score):
    if score >90:
        return '1'
    else:
        return '0'
score_check(99)

'1'

In [21]:
# 람다는 일회용 함수이기 때문에 return 필요 없음
(lambda score : '1' if score >90 else  '0')(80)

'0'

In [24]:
# 만든 람다를 여러 곳에서 사용하기 위해 변수에 넣음
#score_check는 함수명 x, 변수명 o
score_check = (lambda score : '1' if score >90 else  '0')
score_check(100)

'1'

- 람다 사용 예-2

In [20]:
def score_check(score):
    if score >90:
        return '1'
    else:
        return '0'
score_check(99)

'1'

In [25]:
# 람다 안에 만들어 놓은 함수 넣기 가능
( lambda x : score_check(x) )(70)

'0'

# map(lambda함수,리스트)

In [26]:
# 인터프리터환경에서는 map의 값을 보려면 list로 감싸기  -->파이참에서는 x
list( map( lambda x : x+10, [1,2,3,4] ) )

[11, 12, 13, 14]

In [27]:
mymap= map( lambda x : x+10, [1,2,3,4] )
mymap

In [28]:
list(mymap)

[11, 12, 13, 14]

# Quiz

<pre>
1. 람다식을 사용해 다음 연락처 앞자리를 활용해 지역명을 출력하시오

tel = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
02  :  서울
032 : 인천
031 : 경기

In [30]:
tel = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]

- 해결 1) 단순 함수 정의 후 호출

In [1]:
# (lambda x : x.split("-") )
def tel_check(tel_list) :
    for tel in tel_list:
        loc_tel = tel.split("-")[0]
        loc = "그외"
        if loc_tel == '02' :
            loc = "서울"
        elif loc_tel == '032' :
            loc = "인천"
        elif loc_tel == '031' :
            loc = "경기"
        print(loc_tel, loc)
tel_check(["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"])

02 서울
032 인천
032 인천
031 경기

- 해결 2) 람다 + 사용자 정의 함수
- (lambda x: 사용자 정의 함수(x))

In [2]:
# (lambda x : x + 10) (10)
prm_list = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
(lambda x : tel_check(x)  ) (prm_list)

02 서울
032 인천
032 인천
031 경기

- 해결3) list ( map ( 람다, 리스트) )

In [3]:
def tel_check(tel) :
    loc_tel = tel.split("-")[0]
    loc = "그외"
    if loc_tel == '02' :
        loc = "서울"
    elif loc_tel == '032' :
        loc = "인천"
    elif loc_tel == '031' :
        loc = "경기"
    return loc, loc_tel
        
prm_list = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
res = list (  map(  lambda prm : tel_check(prm) , prm_list )   )
print(res)

[('서울', '02'), ('인천', '032'), ('인천', '032'), ('경기', '031')]

<pre>
2. 1~100 합 출력
결과 : 5050

- 해결책 1)

In [4]:
mysum = 0
for n in range(1,101):
    mysum  = mysum + 1
print(mysum)

100

In [49]:
def cacl_sum():
    number=0
    for i in range(101):
        number+=i
    print(number)
cacl_sum()

5050

- 해결책 2)

In [5]:
import numpy as np
np.sum(  [1,2,3] )

6

In [6]:
sum([1,2,3])  #python 내장 함수

6

In [7]:
AA = (  lambda s,e : sum( range(s,e) )   )
AA(1,101)

5050

In [8]:
AA = (  lambda x : sum( range(1,101) )   )
AA('아무값')

5050

In [9]:
np.sum( [x for x in range(1,101)]  )

5050

- 해결책 3)

In [10]:
def cacl_sum() :
    mysum = 0
    for n in range(1,101):
        mysum  = mysum + n
    print(mysum)

(lambda x :  cacl_sum()) ("아무값")

5050

- 해결책 4)

In [11]:
np.sum( range(1,101)  )

5050

- 해결책 5)

In [ ]:
np.sum( range(1,101)  )