# lec16. 크롤링(Crawling)

In [1]:
import pandas as pd
import numpy as np
import json
import warnings
warnings.filterwarnings(action='ignore')

# BeautifulSoup
- ref : https://www.crummy.com/software/BeautifulSoup/bs4/doc/
- 파서 : "html.parser", "xml","lxml", "html5lib"

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
html_doc = """<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p>
"""

soup = BeautifulSoup(html_doc, 'html.parser') # 객체

print(soup.prettify())

<html>
 <head>
  <title>
   The Dormouse's story
  </title>
 </head>
 <body>
  <p class="title">
   <b>
    The Dormouse's story
   </b>
  </p>
  <p class="story">
   Once upon a time there were three little sisters; and their names were
   <a class="sister" href="http://example.com/elsie" id="link1">
    Elsie
   </a>
   ,
   <a class="sister" href="http://example.com/lacie" id="link2">
    Lacie
   </a>
   and
   <a class="sister" href="http://example.com/tillie" id="link3">
    Tillie
   </a>
   ;
and they lived at the bottom of a well.
  </p>
  <p class="story">
   ...
  </p>
 </body>
</html>

In [4]:
for link in soup.find_all('a'):
    print(link.get('href')) # 태그 안의 속성 꺼내기
    print(link.text) # 태그와 태그 사이의 글씨를 뽑아냄

http://example.com/elsie
Elsie
http://example.com/lacie
Lacie
http://example.com/tillie
Tillie

## YTN 크롤링

- 경제뉴스

In [5]:
res=requests.get("https://www.ytn.co.kr/news/list.php?mcd=0102")
res.status_code
res.text[:500]

'<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">\r\n<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">\r\n<head>\r\n<title>경제 목록</title>\r\n<link rel="shortcut icon" href="/img/comm/favicon.ico" type="image/x-icon">\r\n<link rel="icon" href="/img/comm/favicon.ico" type="image/x-icon">\r\n<meta http-equiv="X-UA-Compatible" content="IE=edge" />\r\n<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>\r\n<meta n'

In [6]:
soup = BeautifulSoup(res.text, 'html.parser')
# soup = BeautifulSoup(res.content, 'html.parser', from_encoding='utf-8')

In [7]:
# 반복되어지는 요소 찾기
li_list=soup.select('#nav_content > div:nth-child(1) > ul > li')

for li in li_list:
    title=li.select_one("a > div > span").text
    print(title)

[굿모닝경제] 미, 4분기 성장률 2.9%→2.7%로 수정...한전·가스공사 지난해 실적 오늘 발표
[YTN 실시간뉴스] '빚더미' 한전·가스공사 오늘 실적 발표
보험·카드에 증권사까지...금융권 전방위 압박
기준금리 3.5% 동결..."불확실성 커 상황 점검할 필요"
이창용 "불확실성 고려해 동결...인상 끝난 것 아냐"
'빚더미' 한전·가스공사 오늘 지난해 실적 발표
공정위, '로톡 이용 금지' 변협 제재...변협 "불복 소송"
'툭하면 불' 위니아 노후 김치냉장고 안전주의보 발령
편법 증여 등 불법 의심 '아파트 직거래' 무더기 적발
국토부 "월례비, 정상적 임금으로 보기 어렵다"...법원 판결 반박
고물가에 '실질 소득' 감소...'연료·이자' 증가 역대 최고
'자본 잠식' 가스공사...장부상 영업이익에 배당금까지
'기준금리 인상 멈췄다' 현 3.5%로 동결..."인상 종료 아냐"
공정위, 휴대전화 보조금 확대·2시간 미만 통신장애도 배상 추진
고물가에 '실질 소득' 감소...'연료·이자' 증가 역대 최고
'기준금리 인상 멈췄다' 현 3.5%로 동결..."인상 종료 아냐"
[뉴스큐] 지난해 합계 출산율 '0.78명' 쇼크...저출생 해법은?
공정위, '로톡 이용 금지' 변협 제재...변협 "불복 소송"
[기업] 삼성전자, 美 디시 네트워크와 5G 초고도망 개통
[기업] 포스코인터, 인니 광구 천연가스 탐사권 확보
[기업] SPC, 대학생 장학금 지원 규모 연간 3백 명으로 확대
[기업] LG전자, 제주 빈집 재생공간 탈바꿈...생활가전 체험도
[기업] 현대차그룹, 美서 '역대 최다' 23개 제품 수상
고령자·장애인, 장려금 한 번 신청으로 2년 자동신청
1월 생산자물가 0.4%↑...전기요금 인상에 석 달 만에 반등
이복현 "시장금리 추가 상승 가능성...연체율 상승 추이 분석"
[생생경제] 한은 금리동결에 김대호"동결 아닌 금리 정책 보류"
금감원 "은행 이사회와 소통...해외서도 적극 활용"
금감원 "은행 이사회와 소통...해외서도 적극 활용"

- json은 json으로 파일이 올 경우 사용

In [8]:
li_list=soup.select('#nav_content > div:nth-child(1) > ul > li')

news_list=[]

for li in li_list:
    title=li.select_one("a > div > span").text
    regdate=li.select_one("a > div > div > span.date").text
    contents=li.select_one("a > div > div > span.desc").text
    href=li.select_one("a").get('href')
    news_list.append([title, regdate, contents, href])
news_list   
df=pd.DataFrame(news_list, columns=['title','regdate','contents','href'])
df.head()

,title,regdate,contents,href
0,"[굿모닝경제] 미, 4분기 성장률 2.9%→2.7%로 수정...한전·가스공사 지난해...",2023-02-24 07:14,"■ 진행 : 나경철 앵커, 유다원 앵커\r\n■ 출연 : 이인철 참조은경제연구소장 ...",https://www.ytn.co.kr/_ln/0102_202302240714582495
1,[YTN 실시간뉴스] '빚더미' 한전·가스공사 오늘 실적 발표,2023-02-24 06:41,■ 국제유가와 LNG 가격 급등으로 빚더미에 오른 한전과 가스공사가 오늘 지난해 실...,https://www.ytn.co.kr/_ln/0102_202302240641077243
2,보험·카드에 증권사까지...금융권 전방위 압박,2023-02-24 05:04,[앵커]\r\n정치권과 여론에서 은행의 '돈 잔치'를 겨냥한 강도 높은 비판이 이어...,https://www.ytn.co.kr/_ln/0102_202302240504422144
3,"기준금리 3.5% 동결...""불확실성 커 상황 점검할 필요""",2023-02-24 00:54,한국은행이 지난해 2월 이후 처음으로 기준금리를 동결했습니다.\r\n\r\n한국은행...,https://www.ytn.co.kr/_ln/0102_202302240054071976
4,"이창용 ""불확실성 고려해 동결...인상 끝난 것 아냐""",2023-02-24 00:54,"[앵커]\r\n이창용 한국은행 총재는 기준금리를 동결하긴 했지만, 금리 인상 기조가...",https://www.ytn.co.kr/_ln/0102_202302240054263200

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     29 non-null     object
 1   regdate   29 non-null     object
 2   contents  29 non-null     object
 3   href      29 non-null     object
dtypes: object(4)
memory usage: 1.0+ KB

## 네이버 : 제주 맛집

In [10]:
# 이미지,  제목, 누르면 가지는 링크

In [21]:
res=requests.get("https://s.search.naver.com/p/intentblock/search.naver?nlu_query=%7B%22v%22%3A%223%22%2C%22intentblock%22%3A%221%22%2C%22qid%22%3A%22%EC%A0%9C%EC%A3%BC%EB%8F%84%EB%A7%9B%EC%A7%91%22%2C%22abt%22%3A%5B%7B%22eid%22%3A%22SBR1%22%2C%22value%22%3A%7B%22bucket%22%3A%22T4%22%2C%22is_control%22%3Afalse%7D%7D%5D%2C%22matchedAbt%22%3A%5B%7B%22eid%22%3A%22SBR1%22%2C%22value%22%3A%7B%22bucket%22%3A%22T4%22%2C%22is_control%22%3Afalse%7D%7D%5D%7D&query=%EC%A0%9C%EC%A3%BC%EB%8F%84+%EB%A7%9B%EC%A7%91&where=nx_blocks_bridge")
res.status_code
res.encoding

'UTF-8'

In [12]:
soup = BeautifulSoup(res.text, 'html.parser')

In [13]:
div_list=soup.select('#content > section > div > div.popular_grid_wrap.group_popular_block._au_popular_root > div')
food_list=[]
for div in div_list:
    image=div.select_one('a > div > div.thumb_area > div.thumb > div > img').get('src')
    title=div.select_one('a > div > div.dsc_area > div').text
    link=div.select_one('a').get('href')
    food_list.append([title,image,link])
food_df=pd.DataFrame(food_list,columns=['title','image','link'])    
food_df.head()

,title,image,link
0,TV 속 맛집 후기,https://search.pstatic.net/common/?src=http%3A...,https://s.search.naver.com/p/intentblock/searc...
1,반응 좋은 맛집 후기,https://search.pstatic.net/common/?src=https%3...,https://s.search.naver.com/p/intentblock/searc...
2,맛집 탐방가 리뷰,https://search.pstatic.net/common/?src=https%3...,https://s.search.naver.com/p/intentblock/searc...
3,제주도맛집내돈내산,https://search.pstatic.net/common/?src=http%3A...,https://s.search.naver.com/p/intentblock/searc...
4,제주도맛집추천,https://search.pstatic.net/common/?src=http%3A...,https://s.search.naver.com/p/intentblock/searc...

link-->link 타고 넘어갈 때 
<pre>
for h in food_df['link'].values:
    res=request.get(h)
    soup=b...(res.text,'html.parser')

# DB 연동
- 읽기 : cx_Oracle / 쓰기 : sqlalchemy 사용하기

- <font color='red'><b>반드시 conn() --> close()</font></b>
- 커넥션 full 끄기
    - 서비스 > OracleXETNSListener(마우스 우클릭: 정지)
    - 서비스 > OracleServiceXE(마우스 우클릭: 정지)

- 커넥션 full 켜기
    - 서비스 > OracleServiceXE(마우스 우클릭: 정지)
    - 서비스 > OracleXETNSListener(마우스 우클릭: 정지)

## <font color='red'><b>df = pd.read_sql(sql,conn)</font></b>
<pre>
def read_sql(
    <b>sql,
    con,</b>
    index_col: str | list[str] | None = None,
    coerce_float: bool = True,
    params=None,
    
    parse_dates=None,
    columns: list[str] | None = None,
    chunksize: int | None = None,
) -> DataFrame | Iterator[DataFrame]:

In [14]:
import cx_Oracle

conn= cx_Oracle.connect("ai","0000", "localhost:1521/XE")
      
emp=pd.read_sql("select * from emp",conn)
emp.head(1)
conn.close()  #---커넥션 full 주의....오라클 먹통....

## <font color='red'><b>df.to_sql("테이블명",conn)</font></b>
- 기존에 테이블이 없으면 : 알아서 만들어준다
- 기존에 테이블이 있으면 : 오라클은 에러, 다른 DB는 append 속성을 이용하여 추가

<pre>
def to_sql(
        <b>
        name: str, # 테이블 이름
        con,
        if_exists: str = "fail",  # "fail":테이블 이름 중복되면 fail --> oracle만 해당
                                  # "append" : 테이블 이름 중복 시 덮어쓰기 --> oracle 제외한 다른 DB에서만 가능</b>
        
        schema: str | None = None,
        index: bool_t = True,
        index_label: IndexLabel = None,
        chunksize: int | None = None,
        dtype: DtypeArg | None = None,
        method: str | None = None,
    )

### 더이상 지원하지 않음 --> sqlalchemy conn()로 대체
- DataFrame 채로 DB로 밀어 넣을 때는 cx_Oracle()을 사용한 conn 지원 x

In [15]:
#-------------------------------------------------------------------------------------
# 에러 : Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': ORA-01036: illegal variable name/number
#-------------------------------------------------------------------------------------
# conn= cx_Oracle.connect("ai","0000", "localhost:1521/XE")
# food_df.to_sql(name="jeju_craw",con=conn)
# conn.close()

### sqlalchemy
- DataFrame을 DB 통채로 밀어 넣는 경우
- ref : https://docs.sqlalchemy.org/en/14/dialects/oracle.html

In [16]:
#######! pip install sqlalchemy

In [17]:
from sqlalchemy import create_engine

In [18]:
conn = create_engine("oracle://ai:0000@localhost:1521/XE")

In [19]:
engine = create_engine("oracle+cx_oracle://ai:0000@localhost:1521/XE")
df.to_sql()

TypeError: to_sql() missing 2 required positional arguments: 'name' and 'con'

## 번외) 오라클 파일용량 늘리기
- DatabaseError: (cx_Oracle.DatabaseError) ORA-01658: unable to create INITIAL extent for segment in tablespace SYSTEM
- SELECT * FROM DBA_DATA_FILES;
- ALTER DATABASE DATAFILE 'C:\ORACLEXE\APP\ORACLE\ORADATA\XE\SYSTEM.DBF' RESIZE 10000M;
- ALTER DATABASE DATAFILE 'C:\ORACLEXE\APP\ORACLE\ORADATA\XE\SYSTEM.DBF' AUTOEXTEND ON MAXSIZE UNLIMITED;

In [ ]:
# import cx_Oracle

# conn= cx_Oracle.connect("ai","0000", "localhost:1521/XE")
#     if bool(conn):
#         print("연결성공")
#     else:
#         print("연결실패")

#     with conn.cursor() as cur:
#         cur.execute("select * from emp")
#         for row in cur:
#             print(list(row))
#             cur.close()
# conn.close()